/* GENERAL RULES */
:root {
    --primary-content: #ffffff;
    --secondary-content: #7c7e83;
    --details: #adff2f;
    --content-bg: #141922;
    --left-bar-bg: #000000;
    --bottom-bar-bg: #282828;

    --title-fony: 1.5rem;
    --large-font: 1rem;
    --medium-font: .75rem;
    --small-font: .5rem;

    font-size: 16px;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: var(--secondary-content);
}

ul , menu {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.audio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audio-title , .audio-subtitle {
    display: block;
}

.audio-title {
    color: var(--primary-content);
}

/* Container that makes overflowing text disapear on the right side */
.controlled-container {
    padding-right: .5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.controlled-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset -.5rem 0 .3rem var(--bottom-bar-bg);
}

/* Slider */
.slider {
    height: .25rem;
    border-radius: 100em;
    cursor: pointer;
    background-color: var(--secondary-content);
}

.slider div {
    position: relative;
    height: 100%;
    border-radius: 100em;
    background-color: var(--primary-content);
}

.slider:hover div {
    background-color: var(--details);
}

.slider:hover div::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate(50% , -50%);
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: var(--primary-content);
}


/* UPPER CONTENT */
.page {
    flex-basis: calc(100vh - 5.75rem);
    display: flex;
}

/* Left navigation bar */
.left-bar {
    flex-basis: 230px;
    height: 100%;
    background-color: var(--left-bar-bg);
}

/* Main content */
.content {
    flex-basis: calc(100% - 230px);
    height: 100%;
    background: radial-gradient(ellipse at right 95% , #191f2b 0% , var(--content-bg) 90%) , var(--content-bg);
}


/* BOTTOM MENU BAR */
.bottom-bar {
    flex-basis: 5.75rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: .75rem;
    justify-content: space-between;
    background-color: var(--bottom-bar-bg);
    overflow-x: auto;
}

.side-controller {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.controller-button {
    vertical-align: middle;
}

.controller-button:hover {
    color: var(--primary-content);
}

/* Current song options */
.bottom-bar .audio-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bottom-bar .audio-cover {
    width: 2.5rem;
    height: 2.5rem;
}

.bottom-bar .controlled-container {
    width: 5.5rem;
}

.bottom-bar .audio-title {
    font-size: var(--medium-font);
}

.bottom-bar .audio-subtitle {
    font-size: var(--small-font);
}

/* Track lenght options */
.central-controller {
    flex-basis: 25%;
    min-width: 9.5rem;

    color: var(--primary-content);
    text-align: center;
}

.central-controller li:not(:last-child) {
    display: inline-block;
}

.central-controller .controller-button {
    font-size: 1.125rem;
    margin: .25rem;
}

#play {
    font-size: 2rem;
}

#track-lenght {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#track-lenght span {
    width: 2.5rem;
    font-size: var(--medium-font);
}

#track-lenght span:first-child {
    text-align: left;
}

#track-lenght div {
    flex-basis: calc(100% - 5.25rem);
}

#track-lenght div div {
    width: 80%;
}

#track-lenght span:last-child {
    text-align: right;
}

/* Volume, queue and device option */
.side-controller:last-child {
    justify-content: flex-end;
}

#volume {
    width: 7rem;
}

#volume div {
    width: 35%;
}