/* GENERAL RULES */
:root {
    --primary-content: #ffffff;
    --secondary-content: #7c7e83;
    --details: #adff2f;
    --content-bg: #141922;
    --left-bar-bg: #000000;
    --bottom-bar-bg: #282828;

    --padding-left-bar-wide: 1.5rem;
    --padding-left-bar-narrow: .625rem;

    --title-fony: 1.5rem;
    --large-font: 1rem;
    --medium-font: .75rem;
    --small-font: .5rem;

    font-size: 16px;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: var(--secondary-content);
}

ul , menu {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.audio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audio-title , .audio-subtitle {
    display: block;
}

.audio-title {
    color: var(--primary-content);
}

.audio-title:hover {
    text-decoration: underline;
}

.audio-subtitle:hover {
    color: var(--primary-content);
    text-decoration: underline;
}

/* Container that makes overflowing text disapear on the right side */
.controlled-container {
    padding-right: .5rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.controlled-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events:none
}

.bottom-bar .controlled-container::after {
    box-shadow: inset -.5rem 0 .3rem var(--bottom-bar-bg);
}

.left-bar .controlled-container::after {
    box-shadow: inset -.5rem 0 .3rem var(--left-bar-bg);
}

/* Slider */
.slider {
    height: .25rem;
    border-radius: 100em;
    cursor: pointer;
    background-color: var(--secondary-content);
    vertical-align: middle;
}

.slider div {
    position: relative;
    height: 100%;
    border-radius: 100em;
    background-color: var(--primary-content);
}

.slider:hover div {
    background-color: var(--details);
}

.slider div::after {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate(50% , -50%);
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: var(--primary-content);
}

.slider:hover div::after {
    content: "";
}


/* UPPER CONTENT */
.page {
    height: calc(100vh - 5.75rem);
    display: flex;
}

/* LEFT NAVIGATION BAR */
.left-bar {
    width: 230px;
    height: 100%;
    background-color: var(--left-bar-bg);
    padding: var(--padding-left-bar-narrow) var(--padding-left-bar-wide);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
}

.left-bar img {
    height: 100%;
}

.narrow-only {
    display: none;
}

/* Left bar menu voice */
.left-voice {
    height: 2.25rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--medium-font);
}

.left-voice:hover {
    color: var(--primary-content);
}

.left-bar .selected {
    position: relative;
    color: var(--primary-content);
}

.left-bar .selected::before {
    content: "";
    height: 100%;
    width: 4px;
    position: absolute;
    left: calc(var(--padding-left-bar-wide) * -1);
    top: 0;
    background-color: var(--details);
}

/* Logo */
#logo {
    height: 2.5rem;
}

/* Main menu */
.left-bar menu a {
    padding: .375rem 0;
}

/* Playlists */
.left-bar > *:nth-child(3) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-bar strong {
    display: block;
    color: var(--primary-content);
}

#create-playlist div {
    position: relative;
    font-size: 2.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-content);
    color: var(--left-bar-bg);
}

#create-playlist:hover div {
    background-color: var(--primary-content);
}

#create-playlist div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#user-playlist-container {
    overflow-y: auto;
    flex-basis: 6.75rem;
    flex-grow: 1;
}

/* Personal area and download */
.left-bar > *:last-child {
    margin-top: auto;
}

#download-app {
    padding: .625rem 0;
}

.left-bar hr {
    border-color: var(--secondary-content);
}

#personal-area {
    padding: .25rem 0;
    margin-top: .5rem;
    font-size: var(--large-font);
    color: var(--primary-content);
}

#personal-area img {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100px;
    background-color: var(--secondary-content);
}

#personal-area:hover img {
    filter: brightness(150%);
}


/* MAIN CONTENT */
.content {
    width: calc(100% - 230px);
    height: 100%;
    background: radial-gradient(ellipse at right 95% , #191f2b 0% , var(--content-bg) 90%) , var(--content-bg);
}


/* BOTTOM MENU BAR */
.bottom-bar {
    flex-basis: 5.75rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
    background-color: var(--bottom-bar-bg);
    overflow-x: auto;
}

.side-controller {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.controller-button {
    vertical-align: middle;
}

.controller-button:hover {
    color: var(--primary-content);
}

/* Current song options */
.bottom-bar .audio-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bottom-bar .audio-cover {
    width: 2.5rem;
    height: 2.5rem;
}

.bottom-bar .controlled-container {
    width: 5.5rem;
}

.bottom-bar .audio-title {
    font-size: var(--medium-font);
}

.bottom-bar .audio-subtitle {
    font-size: var(--small-font);
}

/* Track lenght options */
.central-controller {
    flex-basis: 25%;
    min-width: 9rem;

    color: var(--primary-content);
    text-align: center;
}

.central-controller li {
    display: inline-block;
    margin: .25rem;
}

.central-controller li:first-child {
    margin-left: 0;
}

.central-controller li:last-child {
    margin-right: 0;
}

.central-controller .controller-button {
    font-size: 1.125rem;
}

#play {
    font-size: 2rem;
}

#play:hover {
    display: inline-block;
    transform: scale(1.2);
}

#track-lenght {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#track-lenght span {
    width: 2.5rem;
    font-size: var(--medium-font);
}

#track-lenght span:first-child {
    text-align: left;
}

#track-lenght div {
    flex-basis: calc(100% - 5.25rem);
}

#track-lenght div div {
    width: 80%;
}

#track-lenght span:last-child {
    text-align: right;
}

/* Volume, queue and device option */
.side-controller:last-child {
    justify-content: flex-end;
}

#volume {
    display: flex;
    align-items: center;
    gap: .25rem;
}

#volume .controller-button {
    color: var(--primary-content);
}

#voume-slider {
    width: 6.875rem;
}

#voume-slider div {
    width: 35%;
}

.controller-button:hover + #voume-slider div {
    background-color: var(--details);
}

.controller-button:hover + #voume-slider div::after {
    content: "";
}



/* Extra small screen */
@media screen and (max-width: 575px) {
    /* UPPER CONTENT */
    /* LEFT NAVIGATION BAR */
    .left-bar {
        width: 3.5rem;
        padding: var(--padding-left-bar-narrow);
    }

    #logo {
        padding: .25rem 0;
    }

    .wide-only {
        display: none !important;
    }

    .narrow-only {
        display: block;
    }

    /* Left bar menu voice */
    .left-voice {
        justify-content: center;
    }
    
    .left-bar .selected::before {
        left: calc(var(--padding-left-bar-narrow) * -1);
    }

    /* MAIN CONTENT */
    .content {
        width: calc(100% - 3.5rem);
    }
}